@model List<Account>

@{
    ViewBag.Title = "Accounts";
    Layout = "_Layout";
}

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h2 class="title is-2">Accounts</h2>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a class="button is-primary" asp-action="New">New</a>
        </div>
    </div>
</div>

@if (TempData.ContainsKey("Message"))
{
    <div class="notification is-info is-light mt-3">
        <button class="delete"></button>
        @TempData["Message"]
    </div>
}

@if (Model.Any())
{
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td><a asp-controller="Transactions" asp-route-accountId="@account.Id">@account.Name</a></td>
                <td><a asp-action="Edit" asp-route-id="@account.Id" class="button is-info is-small">Edit</a> | <a asp-action="Delete" asp-route-id="@account.Id" class="button is-danger is-small">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Add some accounts to get started.
            </p>
        </div>
    </section>
}