@model List<Transaction>

@{
    ViewBag.Title = "Transactions";
    Layout = "_Layout";
}

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h2 class="title is-2">Transactions for Account </h2>
        </div>
    </div>
    <div class="level-right">
        @* <div class="level-item"> *@
        @*     <a class="button is-primary" asp-action="New">New</a> *@
        @* </div> *@
    </div>
</div>

@if (TempData.ContainsKey("Message"))
{
    <div class="notification is-info is-light mt-3">
        <button class="delete"></button>
        @TempData["Message"]
    </div>
}

@if (Model.Any())
{
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Date</th>
            <th>Memo</th>
            <th>Category</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Cleared</th>
            <th>Reconciled</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Memo</td>
                <td>@transaction.Category</td>
                <td>@transaction.Payee</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Cleared</td>
                <td>@transaction.Reconciled</td>
                <td></td>
                @* <td><a asp-action="Edit" asp-route-id="@transaction.Id" class="button is-info is-small">Edit</a> | <a asp-action="Delete" asp-route-id="@transaction.Id" class="button is-danger is-small">Delete</a></td> *@
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Add some transactions to this account to get started.
            </p>
        </div>
    </section>
}